name: Server CI
on:
  pull_request:
    branches:
      - main
    paths:
      - '**.go'
      - 'go.mod'
      - 'go.sum'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.25

      - name: Download Go dependencies
        run: go mod download

      - name: Test Go server
        run: go test ./server/...

      - name: Build Go server
        run: go build -o stickian-server .
        working-directory: ./server
